@import 'compass/css3';

$main_width: 910px;
$main_height: 710px;
$map_height: 512px;
$map_width: $map_height;

$infobar_height: 30px;

$wave_width: 150px;
$waves_height: $main_height - $infobar_height;
$buttons_width: $main_width - ($wave_width + $map_width);

$infospace_height: $main_height - ($infobar_height + $map_height);
$infospace_width: $main_width - $wave_width;

$dark_blue: #154447;
$med_blue: #2F7069;
$tan: #D5A659;
$light_green: #86A143;
$dark_green: #476228;
$aqua_green: #90EE90;

@mixin buttonize($base_color: $dark_blue, $font_size: 30px) {
  $light: lighten($base_color, 30%);
  $dark: lighten($base_color, 10%);
  @include border-radius($font_size*.7);
  @include background-image(linear-gradient($light, $dark));
  @include box-shadow(inset 0 1px 1px rgba(255,255,255,.5), 0 2px 4px rgba(0,0,0,.9));
  border: 2px solid darken($base_color, 0%);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  line-height: $font_size;
  padding: $font_size/4 $font_size/1.2 $font_size/3.3;
  text-decoration: none;
  text-shadow: darken($base_color, 10%) 0 -1px 0;
  font-size: $font_size;
  &:hover {
    @include background-image(linear-gradient(lighten($light, 5%), lighten($dark, 5%)));
    @include box-shadow(inset 0 1px 1px rgba(255,255,255,.8), 0 2px 5px rgba(0,0,0,.99));
  }
  &:active {
    @include background-image(linear-gradient(darken($light, 5%), darken($dark, 5%)));
    @include box-shadow(inset 0 1px 1px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.9));
    color: #eee;
  }
  * {
    cursor: pointer;
  }
  &.disabled {
    opacity: .95;
    @include background-image(linear-gradient(#aaa, #999));
    @include box-shadow();
    border: 1px solid transparent;
    cursor: default;
    text-shadow: 0 0 0;
  }
}

* {
  @include box-sizing(border-box);
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
html, body {
  background: black;
  width: $main_width;
  height: $main_height;
  &, ul, li, p {
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  a {
    color: blue;
    text-decoration: none;
    &.link:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  h2 { font-size: 42px; }
  h3 { font-size: 36px; }
  h4 { font-size: 30px; }
  h5 { font-size: 24px; }
  h5 { font-size: 18px; }
  .button {
    @include buttonize($dark_blue, 42px);
  }
  .highlight {
    background: green !important;
  }
}
#minimize {
  @include buttonize(gray, 12px);
  font-weight: bold;
  padding: 4px;
  position: absolute;
  right: 0;
  //&:hover {
  //  text-shadow: yellow 0 0px 12px;
  //}
  border-width: 1px;
  z-index: 999;
}
.screen {
  height: $main_height;
  left:0;
  position: absolute;
  top:0;
  width: $main_width;
}

#floatRight {
  float: right;
}
#wrapper {
  background: green;
  height: $main_height;
  width: $main_width;
  position: relative;
}

#splash_screen {
  background: #30c70d url('../../img/splash.png') no-repeat left top;
  height: 100%;
  text-align: center;
  width: 100%;
  #blurb {
    font-size: 28px;
    text-align: center;
    padding-top: 350px;
  }
  #start_from_splash.button {
    margin-top: 50px;
  }
}

#game_screen {
  display: none;
  #infobar {
    background: $dark_blue;
    color: white;
    height: $infobar_height;
    padding: 5px;
    div {
      position: absolute;
    }
    #speed {
      div {
        @include buttonize(gray, 12px);
        border-width: 1px;
        display: inline-block;
      }
    }
    #money {
      left: 730px;
      &:before {
        content: 'Money: $';
      }
    }
  }
  #waves {
    $wave_height: 42px;
    background-color: $tan;
    display: inline-block;
    float: left;
    font-size: 24px;
    height: $waves_height;
    position: relative;
    width: $wave_width;
    #explainer { //TODO create mixin for speech bubble
      $bg_color: $aqua_green;
      $border: 3px;
      $border_color: #2a5f00;
      $speech_triangle_width: 20px;
      $speech_triangle_height: 10px;
      $speech_triangle_y: 30px;
      @include border-radius(10px);
      background: $bg_color;
      border: $border solid $border_color;
      font-size: 11px;
      left: $wave_width + $speech_triangle_width;
      top: -25px;
      padding:15px;
      position: absolute;
      width: 264px;
      z-index: 999;

      &:before {
        $outer_top_width: $speech_triangle_height;
        $outer_side_width: $speech_triangle_width / 2;
        border-style: solid;
        border-width: $outer_side_width 2*$outer_side_width $outer_side_width 0;
        border-color: transparent;
        border-right-color: $border_color;

        bottom: auto;
        content: "";
        left: -2 * $outer_side_width;
        position: absolute;
        top: $speech_triangle_y;
      }
      &:after {
        $inner_top_width: $speech_triangle_height - $border;
        $inner_side_width: ($speech_triangle_width / 2) - $border;
        border-style: solid;
        border-width: $inner_side_width 2*$inner_side_width $inner_side_width 0;
        border-color: transparent;
        border-right-color: $bg_color;

        bottom: auto;
        content: "";
        left: -2 * $inner_side_width;
        position: absolute;
        top: $speech_triangle_y + $border;
      }
      p + p {
        margin-top: 12px;
      }
      .close {
        @include buttonize(#ad130e, 12px);
        @include border-radius(99px);
        border-width: 1px;
        color: white;
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }
    ul {
      li {
        $light: lighten($tan, 30%);
        $dark: lighten($tan, 10%);
        @include background-image(linear-gradient($light, $dark));
        border: 2px solid $tan;
        border-top-color: white;
        border-bottom-color: $tan;
        height: $wave_height;
        padding: 5px;
        width: 100%;
        &#needle {
          @include box-shadow(5px 0px 3px rgba(90,0,0,.9));
          background: transparent;
          border: 4px ridge #ff4500;
          border-left: 0;
          pointer-events: none;
          position: absolute;
          top: 0;
        }
      }
    }
  }
  #map {
    display: inline-block;
    float: left;
    height: $map_height;
    position: relative;
    width: $map_width;
    canvas { position:absolute; }
    #treeground { pointer-events: auto; }
    #dpad {
      background: transparent url('../../img/dpad.svg') no-repeat center center;
      background-size: 250px;
      display: none;
      height: 100%;
      opacity: .5;
      position: absolute;
      width: 100%;
    }
  }
  #buttons {
    background: $light_green;
    display: inline-block;
    float: left;
    height: $map_height;
    width: $buttons_width;
    a.tower_chooser, a.swatter {
      $button_width: .4 * $buttons_width;
      @include buttonize($med_blue, 18px);
      height: $button_width + 20px;
      margin: 10px 0 10px 15px;
      padding: 0;
      position: relative;
      text-align: center;
      width: $button_width;
      img, div {
        position: absolute;
        text-align: center;
      }
      div {
        width: 100%;
        &.name {
          top: 6px;
        }
        &.cost {
          bottom: 5px;
          color: #7e7;
          &:before {
            content: '$';
          }
        }
      }
      &.boxer img {
        @include rotate(90deg);
        left: 18px;
        top: 35px;
      }
      &.slingshot img {
        @include rotate(85deg);
        left: 13px;
        top: 33px;
      }
      &.sumo img {
        @include rotate(90deg);
        left: 15px;
        top: 36px;
      }
      &.chilly img {
        @include rotate(90deg);
        left: 16px;
        top: 35px;
      }
      &.bazooka img {
        @include rotate(90deg);
        left: -13px;
        top: 18px;
      }
      &.swatter img {
        left: 8px;
        top: 26px;
      }
    }
  }
  #infospace {
    background: $med_blue;
    color: white;
    float:left;
    height: $infospace_height;
    position: relative;
    width: $infospace_width;
    #tower_descriptions {
      margin: 10px;
      height: 100%;
      position: relative;
      & > div {
        display: none;
        h2 {
          font-size: 36px;
          margin: 0;
          padding: 0;
        }
        .img {
          float: left;
          height: 100%;
          .img_frame {
            height: 128px;
            width: 128px;
            overflow: hidden;
            img {
              height: 128px;
              width: 128px;
            }
          }
        }
        &.bazooka {
          .img_frame {
            img {
              margin-top: 9px;
              margin-left: -23px;
              height: 164px;
              width: 164px;
            }
          }
        }
      }
    }
    #upgrades {
      display: none;
      height: 100%;
      position: relative;
      & > div {
        $section_width: ($infospace_width / 5) - 5px;
        display: inline-block;
        text-align: center;
        width: $section_width;
      }
      h6 {
        text-shadow: rgba(0, 0, 0, .9) 0 2px 2px;
        font-size: 26px;
        margin: 10px 0 15px;
        padding: 0;
        text-transform: uppercase;
      }
      .upgrade {
        height: 100%;
        position: relative;
        vertical-align: top;
        &:after {
          @include background-image(linear-gradient(rgba(255,255,255,0) 2%, white, rgba(255,255,255,0) 98%));
          content: '';
          height: 100%;
          position: absolute;
          right: 0;
          top: 0;
          width: 1px;
        }
        .desc, .conversion {
          margin: 15px 0;
          text-shadow: rgba(0, 0, 0, .9) 0 1px 1px;
        }
        .conversion div {
          display: inline;
          &.arrow:after {
            content:"\A";
            white-space:pre;
          }
        }
        .button {
          @include buttonize($dark_green, 16px);
          font-size: 12px;
          .cost {
            display: inline;
            font-weight: bold;
            &:before {
              content: '$';
            }
          }
        }
      }
      .priority {
        h6 { font-size: 20px; }
        .button {
          @include buttonize($dark_blue, 16px);
          border-width: 1px;
          font-size: 12px;
          margin: 3px 0;
          width: 82px;
          &.short {
            width: 58px;
          }
        }
      }
    }
  }
  #victory_dialogue, #defeat_dialogue, #pause_dialogue {
    @include border-radius(10px);
    border: 2px solid darken($aqua_green, 50%);
    background: $aqua_green;
    height: 400px;
    display: none;
    font-size: 36px;
    left: 50%;
    margin-left: -250px;
    margin-top: 100px;
    padding: 20px;
    position: absolute;
    text-align: center;
    width: 500px;
    &#pause_dialogue h2 {
      font-size: 70px;
    }
    h2, h3, h4 {
      margin: 0;
      padding: 0;
    }
    h4 {
      font-weight: normal;
      margin: 24px 12px;
    }

    .button {
      @include buttonize($dark_blue, 32px);
      margin: 25px 0 0;
      width: 93%;
    }
  }
}

#levels_screen {
  background: $light_green;
  display:none;
  text-align: center;
  h1 {
    margin-top: 220px;
  }
  .level_chooser {
    display: block;
    text-align: center;
    margin: 30px auto;
    width: 600px;
  }
}
