!!! 5
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}/
    %script{'data-main' => 'js/compiled/boot.js', 'src' => 'js/vendor/require.js'}
    %script{:src => "js/vendor/pokki/PokkiBrowser.js"}
    %script{:src => "js/vendor/pokki/GAPokki.js"}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen', :href => 'css/compiled/style.css'}/
  %body
    #wrapper
      #minimize [-]
      #splash_screen.screen
        #blurb
          by
          %a.twitter.link @james_gary
        #start_from_splash.button
          Start
      #game_screen.screen
        #infobar
          #money ???
          #speed
            #pause II
            #speed1 &#x25B6;
            #speed2 &#x25B6;&#x25B6;
            #speed4 &#x25B6;&#x25B6;&#x25B6;
        #waves
          #explainer
            .close X
            %p{:style => 'margin-right: 35px'} Click the first wave to start. You can also hit [spacebar] to send the next wave.
            %p When you're feeling bold, you can click a future wave to start spawning that wave early. Any bugs that were still queued to spawn will grant 25% more money!
            %p One last thing: 1, 2, and 3 are hot keys for game speed, and ~ will pause the game.
          %ul
            %li.wave{'data-wave_index' => 1}Wave 1
            %li.wave{'data-wave_index' => 2}Wave 2
            %li.wave{'data-wave_index' => 3}Wave 3
            %li.wave{'data-wave_index' => 4}Wave 4
            %li.wave{'data-wave_index' => 5}Wave 5
            %li.wave{'data-wave_index' => 6}Wave 6
            %li.wave{'data-wave_index' => 7}Wave 7
            %li.wave{'data-wave_index' => 8}Wave 8
            %li.wave{'data-wave_index' => 9}Wave 9
            %li.wave{'data-wave_index' => 10}Wave 10
            %li#needle
        #map
          %canvas#background{:width => '512', :height => '512'}
          %canvas#foreground{:width => '512', :height => '512'}
          %canvas#treeground{:width => '512', :height => '512'}
          #dpad
        #buttons
          %a.button.boxer.tower_chooser{'data-tower_type_placeholder' => 'BoxerTowerPlaceholder', 'data-tower_type' => 'BoxerTower', 'data-name' => 'boxer'}
            .name<
              Boxer
              %br>
              Brown
            %img{:src => 'img/towers/boxer.png'}
            .cost ?
          %a.slingshot.tower_chooser{'data-tower_type_placeholder' => 'SlingshotTowerPlaceholder', 'data-tower_type' => 'SlingshotTower', 'data-name' => 'slingshot'}
            .name<
              Slingshot
              %br>
              Sally
            %img{:src => 'img/towers/slingshot.png'}
            .cost ?
          %a.sumo.tower_chooser{'data-tower_type_placeholder' => 'SumoTowerPlaceholder', 'data-tower_type' => 'SumoTower', 'data-name' => 'sumo'}
            .name<
              Sumo
              %br>
              Saburu
            %img{:src => 'img/towers/sumo.png'}
            .cost ?
          %a.chilly.tower_chooser{'data-tower_type_placeholder' => 'ChillyTowerPlaceholder', 'data-tower_type' => 'ChillyTower', 'data-name' => 'chilly'}
            .name<
              Chilly
              %br>
              Chell
            %img{:src => 'img/towers/chilly.png'}
            .cost ?
          %a.swatter{'data-name' => 'swatter'}
            .name Swatter
            %img{:src => 'img/swatter.png'}
            .cost 10
          %a.bazooka.tower_chooser{'data-tower_type_placeholder' => 'BazookaTowerPlaceholder', 'data-tower_type' => 'BazookaTower', 'data-name' => 'bazooka'}
            .name<
              Bazooka
              %br>
              Becky
            %img{:src => 'img/towers/bazooka.png'}
            .cost ?

        #infospace
          #tower_descriptions
            .boxer
              .img
                .img_frame
                  %img{:src => 'img/towers/boxer.png'}
              %h2 Boxer Brown (Hotkey: A)
              %p A former super lightweight champ, black belt in Capoeira, and successful tapioca-scented soap salesman, Brown now puts on the gloves to knock out bug scum. He can upgrade to punch and tail whip at the same time, a trick he picked up in Malaysia one summer. If fully upgraded, he can do his signature roundhouse kick, damaging as many as 8 bugs around him.
            .slingshot
              .img
                .img_frame
                  %img{:src => 'img/towers/slingshot.png'}
              %h2 Slingshot Sally (Hotkey: S)
              %p Sally grew up on her family farm taking potshots at bugs encroaching on their prized tapioca trees. But now the stakes are higher: the very existence of squirrel-kind as she knows it (which is admittedly rather limited). But not one to back down from a challenge, she strikes down bugs with perfect accuracy from a considerable distance.
            .sumo
              .img
                .img_frame
                  %img{:src => 'img/towers/sumo.png'}
              %h2 Sumo Saburu (Hotkey: D)
              %p Saburu had shown early promise as a Sumo wrestler. He had skill, dedication, and integrity. So much integrity, however, that he decided to resign from the Squirrel Sumo Association due to its recent tapioca scandals. Saburu now must purify his soul the only way he can: bug stompin'.
            .chilly
              .img
                .img_frame
                  %img{:src => 'img/towers/chilly.png'}
              %h2 Chilly Chell (Hotkey: F)
              %p Winter always seems to follow Chell, which is why she's always hibernating. Whenever we try to wake her, she just rolls over and mumbles something inappropriate about tapioca. Anyway, when any bugs go near her, they will feel the chill and be slowed down.
            .bazooka
              .img
                .img_frame
                  %img{:src => 'img/towers/bazooka.png'}
              %h2 Bazooka Becky (Hotkey: B)
              %p The bugs stand for conformity, obedience, and control. Becky enjoys debating the bugs on these issues... with her thorax-piercing cast-iron tapioca-infused bazooka. At first, she'll randomly shoot through any 5 bugs in range, and then 10 bugs when upgraded. Satisfy Becky's bloodlust by upgrading again, and she'll pierce through 25 bugs.
            .swatter
              .img
                .img_frame
                  %img{:src => 'img/swatter.png'}
              %h2 Swatter (Hotkey: G)
              %p When you're in a panic, you can take matters into your own hand. Each swat does 50 dmg for up 10 creeps, but costs $10, so use only when needed. Warning: Do not attempt to use as a tapioca spoon. It is highly ineffective.

          #upgrades
            .upgrade.power
              %h6 Power
              .cannot_upgrade
                Not applicable
                %br
                for this squirrel
              .can_upgrade
                .conversion
                  .orig.not_maxed ?
                  .unit.not_maxed dmg
                  .arrow.not_maxed &rarr;
                  .new ?
                  .unit dmg
                %a.not_maxed.button
                  Buy for
                  .cost ?
            .upgrade.range
              %h6 Range
              .cannot_upgrade
                Not applicable
                %br
                for this squirrel
              .can_upgrade
                .conversion
                  .orig.not_maxed ?
                  .unit.not_maxed sq
                  .arrow.not_maxed &rarr;
                  .new ?
                  .unit sq
                %a.not_maxed.button
                  Buy for
                  .cost ?
            .upgrade.speed
              %h6 Speed
              .cannot_upgrade
                Not applicable
                %br
                for this squirrel
              .can_upgrade
                .conversion
                  .orig.not_maxed ?
                  .unit.not_maxed s
                  .arrow.not_maxed &rarr;
                  .new ?
                  .unit s
                %a.not_maxed.button
                  Buy for
                  .cost ?
            .upgrade.special
              %h6 Special
              .not_maxed
                .desc
                  ?
                %a.button
                  Buy for
                  .cost ?
              .maxed
                Maxed out!
            .priority
              %h6 Attack Priority
              %a.button.short{'data-priority' => 'first'}     First
              %a.button{      'data-priority' => 'weakest'}   Weakest
              %a.button.short{'data-priority' => 'last'}      Last
              %a.button{      'data-priority' => 'strongest'} Strongest
        #victory_dialogue
          %h2 Awwwww yeah!
          %h3 You did it!
          %h4 I knew you had it in you.
          %a.button.return_to_levels Return to Level Select
        #defeat_dialogue
          %h2 Aw, dang!
          %h3 You got buggered!
          %h4 But you're better now than you ever were before.
          %a.button.return_to_levels Return to Level Select
        #pause_dialogue
          %h2 ~ Paused ~
          %h3 You can do anything you put your mind to.
          %a.button#unpause Return to Game
          %a.button.return_to_levels Quit to Level Select

      #levels_screen.screen
        %h1 Bugs are invading! Which map will you choose?
        %a.button.level_chooser{'data-map' => 'easy'} A nice warm-up
        %a.button.level_chooser{'data-map' => 'medium'} Super Medium
        %a.button.level_chooser{'data-map' => 'hard'} Nightmare Mode
        /%a.button.level_chooser{'data-map' => 'level2'} Map 2
        /%a.button.level_chooser{'data-map' => 'level3'} Map 3
        /%a.button.level_chooser{'data-map' => 'level4'} Map 4
        /%a.button.level_chooser{'data-map' => 'level5'} Map 5
%script{:type => "text/javascript"}
:javascript
  ga_pokki._setAccount('UA-29308111-1');
  ga_pokki._setDomain('googleanalytics.pokki.com');
