!!! 5
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}/
    %script{'data-main' => 'js/compiled/boot.js', 'src' => 'js/vendor/require.js'}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen', :href => 'css/compiled/style.css'}/
  %body
    #wrapper
      #splash_screen.screen
        #blurb
          by
          %a.link{:href => 'https://twitter.com/#!/james_gary'}@james_gary
        #start_from_splash.button
          Start
      #game_screen.screen
        #infobar
          #money ???
          #floatRight
            #minimize [-]
        %ul#waves
          %li.wave{'data-wave_index' => 1}Wave 1
          %li.wave{'data-wave_index' => 2}Wave 2
          %li.wave{'data-wave_index' => 3}Wave 3
          %li.wave{'data-wave_index' => 4}Wave 4
          %li.wave{'data-wave_index' => 5}Wave 5
          %li.wave{'data-wave_index' => 6}Wave 6
          %li.wave{'data-wave_index' => 7}Wave 7
          %li.wave{'data-wave_index' => 8}Wave 8
          %li.wave{'data-wave_index' => 9}Wave 9
          %li.wave{'data-wave_index' => 10}Wave 10
          %li
            %a#send_wave Send Wave!
          %li#needle
        #map
          %canvas#background{:width => '512', :height => '512'}
          %canvas#foreground{:width => '512', :height => '512'}
          #dpad
        #buttons
          %a.button.tower_chooser{'data-tower_type' => 'BoxerTowerPlaceholder'} Boxer Brown!
          %a.button.tower_chooser{'data-tower_type' => 'BoxerTowerPlaceholder'} Boxer Brown!
          %a.button.tower_chooser{'data-tower_type' => 'BoxerTowerPlaceholder'} Boxer Brown!
          %a.button.tower_chooser{'data-tower_type' => 'BoxerTowerPlaceholder'} Boxer Brown!
          %a.button.tower_chooser{'data-tower_type' => 'BoxerTowerPlaceholder'} Boxer Brown!
          %a.button.tower_chooser{'data-tower_type' => 'BoxerTowerPlaceholder'} Boxer Brown!
          %a.button.tower_chooser{'data-tower_type' => 'BoxerTowerPlaceholder'} Boxer Brown!
          %a.button.tower_chooser{'data-tower_type' => 'BoxerTowerPlaceholder'} Boxer Brown!
        #infospace
          #upgrades
            .upgrade.power
              %h6 Power
              .cannot_upgrade
                Not applicable
                %br
                for this tower
              .can_upgrade
                .conversion
                  .orig.not_maxed ?
                  .unit.not_maxed dmg
                  .arrow.not_maxed &rarr;
                  .new ?
                  .unit dmg
                %a.not_maxed.button
                  Buy for
                  .cost ?
            .upgrade.range
              %h6 Range
              .cannot_upgrade
                Not applicable
                %br
                for this tower
              .can_upgrade
                .conversion
                  .orig.not_maxed ?
                  .unit.not_maxed sq
                  .arrow.not_maxed &rarr;
                  .new ?
                  .unit sq
                %a.not_maxed.button
                  Buy for
                  .cost ?
            .upgrade.speed
              %h6 Speed
              .cannot_upgrade
                Not applicable
                %br
                for this tower
              .can_upgrade
                .conversion
                  .orig.not_maxed ?
                  .unit.not_maxed s
                  .arrow.not_maxed &rarr;
                  .new ?
                  .unit s
                %a.not_maxed.button
                  Buy for
                  .cost ?
            .upgrade.special
              %h6 Special
              .desc
                Tail whip a bug behind you
              %a.button
                Buy for
                .cost 500
            .priority
              %h6 Attack Priority
              %a.button.short{'data-prioritize_first'} First
              %a.button{'data-prioritize_weakest'} Weakest
              %a.button.short{'data-prioritize_last'} Last
              %a.button{'data-prioritize_strongest'} Strongest
        #victory_dialogue
          Awwwww yea! You did it!
          %a.button.return_to_levels OK
        #defeat_dialogue
          Darn! We got buggered!
          %a.button.return_to_levels OK

      #levels_screen.screen
        %ul
          %li
            %a.button.level_chooser{'data-map' => 'level1'} Map 1
          %li
            %a.button.level_chooser{'data-map' => 'level2'} Map 2
          %li
            %a.button.level_chooser{'data-map' => 'level3'} Map 3
          %li
            %a.button.level_chooser{'data-map' => 'level4'} Map 4
          %li
            %a.button.level_chooser{'data-map' => 'level5'} Map 5

