!!! 5
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}/
    %script{'data-main' => 'js/compiled/boot.js', 'src' => 'js/vendor/require.js'}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen', :href => 'css/compiled/style.css'}/
  %body
    #wrapper
      #splash_screen
        #blurb
          by
          %a.link{:href => 'https://twitter.com/#!/james_gary'}@james_gary
      #main_game
        #infobar
          #floatRight
            #money 420
            #minimize [-]
        %ul#waves
          %li Wave 1
          %li Wave 2
          %li Wave 3
        #map
          %canvas#background{:width => '512', :height => '512'}
          %canvas#foreground{:width => '512', :height => '512'}
        #buttons
          %a#send_wave
            Send Wave!
        #infospace
          stuff go here!
